#PageContainer
{
    background-color:White;
    font-family:Arial, Tahoma, Times New Roman;
    font-size:10px;
    /* Test Entry */
    /*border: solid 3px Green;*/
    
}
#PageContent
{
    /* Setting a width then auto margins center the div */
    width:800px;
    margin-left: auto;
    margin-right: auto;
    background-color:White;
    border-color:Black;
    border-width:1px;
    border-style:solid;
    
}
body 
{
    
}
#lblOut
{
    border-top: solid 1px green;
    border-bottom: solid 2px red;
}
.error
{
    color:Red;
    font-style:italic;
    font-weight:bold;
}
#header
{
    border-bottom: solid 3px gray;
    background-color:Orange;
    height:4em;
    vertical-align:middle;
}

#fhead
{
    width: 50%;
    float:left;
    padding-bottom: 1em;
}
#ihead
{
    width: 50%;
    float:right;
    padding-bottom: 1em;
}
#filelist
{
     border: solid 2px #ddd;
     margin-top: 2em;
    
}
#filelist td:hover
{
    background:yellow;
}
#button1
{
    padding-bottom: 1em;
     margin-bottom: 1em;
}

/*  
 * The following css is for file info hover * */
#info h4
{
    background:orange;
    padding: .4em 1em;
    margin: 0 0 .5em 0;
    color:#222;
    border-bottom: 1px solid #bfbfbf;
    border-top: 1px solid black;
}
#info 
{
    font-family:Arial, Tahoma, Times New Roman;
    font-size: 10px;
    background:#ccc;
    width: 600px;
    padding-bottom: .5em;
    overflow: hidden;
    position: absolute;
}