#PageContainer
{
    background-color:White;
    font-family:Arial, Tahoma, Times New Roman;
    font-size:10px;
    /* Test Entry */
    border: solid 3px Green;
    
}
#PageContent
{
    /* Setting a width then auto margins center the div */
    width:800px;
    margin-left: auto;
    margin-right: auto;
    background-color:White;
    border-color:Black;
    border-width:1px;
    border-style:solid;
    
}
body 
{
    
}
#lblOut
{
    border-top: solid 1px green;
    border-bottom: solid 2px red;
}
.error
{
    color:Red;
    font-style:italic;
    font-weight:bold;
}
#header
{
    border-bottom: solid 3px gray;
    background-color:Orange;
    height:4em;
    vertical-align:middle;
}

#fhead
{
    width: 50%;
    float:left;
    padding-bottom: 1em;
}
#ihead
{
    width: 50%;
    float:right;
    padding-bottom: 1em;
}
#filelist
{
     border: solid 2px #ddd;
     margin-top: 2em;
    
}
#button1
{
    padding-bottom: 1em;
     margin-bottom: 1em;
}
 
