body 
{
    font-family:Arial, Tahoma, Times New Roman;
    font-size:10px;
}
#lblOut
{
    border-top: solid 1px green;
    border-bottom: solid 2px red;
}
.error
{
    color:Red;
    font-style:italic;
    font-weight:bold;
}
#header 
{
    border-bottom: solid 3px gray;
    background-color: #EEE
  
}
#fhead
{
    padding-bottom: 1em;

}
#filelist
{
     border: solid 2px #ddd;
     margin-top: 1em;
    
}
#button1
{
    padding-bottom: 1em;
     margin-bottom: 1em;
}
 
